html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 150px;
}
.content {
    flex: 1;

}
/* Styles pour les balises de titre */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold; /* Police en gras */
    color: #000; /* Couleur de texte par défaut */
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    font-size: 12px;
    color: #6b7280;
}

/* Style pour le conteneur de la row */
.row {
    display: flex;
    justify-content: space-between;
}

/* Style de base pour les encadrés */
.encard {
    flex: 1; /* Chaque encadré prend une part égale de l'espace disponible */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour la liste des patients à gauche */
.patient-list {
    width: calc(50% - 30px); /* 50% de la largeur de la page moins les marges */
    margin-right: 30px;
}

/* Style pour la liste des mesures à droite */
.measurement-list {
    width: calc(50% - 30px); /* 50% de la largeur de la page moins les marges */
}

/* Style pour l'encadré supplémentaire à droite */
.graph-encard {
    margin-right: 30px;
}

/* Ajout d'espace entre les éléments de la liste */
.patient-card,
.mesure-card {
    margin-bottom: 20px;
}

/* Styles pour le conteneur des boutons */
.button-container {
    display: flex; /* Affichage en mode flexbox */
    align-items: center; /* Alignement vertical au centre */
    margin-top: 15px;
}


