
#mes-suivis:hover .absolute {
    display:block;

}



/* Styles pour les balises de titre */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    font-size: 12px;
    color: #6b7280;
}




